PruebaDataMart_net/PruebaDataMart_net/bin
PruebaDataMart_net/PruebaDataMart_net/obj
PruebaDataMart_net/PruebaLibrary/bin
PruebaDataMart_net/PruebaLibrary/obj
PruebaDataMart_net/PruebaTest/bin
PruebaDataMart_net/PruebaTest/obj
PruebaDataMart_net/.vs